[Unit]
Description=UntappdPhotos
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/pi/UntappdPhotos/
ExecStart=sudo /home/pi/untappd_photos_env/bin/python /home/pi/UntappdPhotos/main.py
KillSignal=SIGINT
Restart=on-failure

[Install]
WantedBy=multi-user.target